body {
  background-color: #010165;
  margin: 0px;
}

/*
1.14
Delete the #door1 ID selector since the .door-frame class selector makes #door1 redundant.
*/
/*
1.13
Next, in the style.css file, create the .door-frame CSS class selector and assign the following properties and values:

    cursor - pointer
    padding - 10px

Refresh the page after each new CSS property is assigned so you can see how each individual value influences the three doors.
*/

/*
#21
In the style.css file, under the body selector but above the door-frame selector, create a header CSS selector and assign the background-color the value #00ffff. If you refresh the page, the logo is now visible; but it’s still in the left corner. Assign the text-align property a value of center.
*/
.header {
  background-color: #00ffff;
}

/*
#23
Your two stars, without any CSS, are resting in the top-left corner of their <div>. Noticing a trend? Let’s fix this default placement.

Navigate to the style.css file and under the .header CSS selector, create a new selector for .title-row. For this selector, assign the following properties with these values:

    margin-top - 42px
    margin-bottom - 21px
    text-align - center

Refresh the page to make sure the stars are centered.
*/

.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

/*
#25
The text and the stars are centered but the stars still appear to be on different lines. Put them all on the same line.

Create an .instructions-title CSS selector under your .title-row selector and assign the display property a value that will place the title inline with the stars.

Save your code and refresh the page and see how the stars and title are now on the same line.
*/
.instructions-title {
  display: inline;

  /*
  #26
  Unfortunately, Instructions is still hard to see. Utilize some CSS to improve your title’s visibility.

Look at your .instructions-title CSS rule again and pair the following properties with their respective values under your display property:

    font-size - 18px
    color - #00ffff
    font-family - ‘Work Sans’

Save your code after each new CSS property is assigned so you can see how each individual value influences your title.

  */
  font-size: 18px;
  color: #00ffff;
  font-family: 'Work Sans';
}

/*
#31
While the instructions are now listed, it’s important to improve the spacing and visibility of these instructions.

In the style.css file, create the .instructions-row CSS selector under your .instructions-title selector and assign the following properties and values:

    margin - 0 auto
    width - 400px

Refresh the page after each new CSS property is assigned so you can see how each individual value influences your .instructions-row.

*/
.instructions-row {
  margin: 0 auto;
  width: 400px;
}

/*
#32
Underneath that, create the .instructions-number selector and assign the following properties and values:

    padding-right - 25px
    font-family - ‘Work Sans’
    font-size - 36px
    color - #00ffff

Refresh the page after each new CSS property is assigned so you can see how each individual value influences your .instructions-number.

*/
.instructions-number {
  padding-right: 25px;
  font-family: 'Work Sans';
  font-size: 36px;
  color: #00ffff;
}

.door-frame {
  cursor: pointer;
  padding: 10px;
}