body {
    background-color: #010165;
    margin: 0px;
  }
  
  /*
  1.14
  Delete the #door1 ID selector since the .door-frame class selector makes #door1 redundant.
  */
  /*
  1.13
  Next, in the style.css file, create the .door-frame CSS class selector and assign the following properties and values:
  
      cursor - pointer
      padding - 10px
  
  Refresh the page after each new CSS property is assigned so you can see how each individual value influences the three doors.
  */
  
  .door-frame {
    cursor: pointer;
    padding: 10px;
  }